.title {
    position: relative;
    left: 20vh;
    top: 5vh;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    margin-bottom: 30px;
    overflow: hidden;
}
.grid {
    position: relative;
    left: 150px;
    top: 5vh;
    border: 2px dashed black;
    background: darkgray;
}
.slot{
    position: relative;
    width: 34px;
    height: 72px;
    border: 2px solid black;
    background: lightgray;
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.rotatedFirstSlot{
    transform: translateY(-19px) translateX(24px) rotate(90deg);
    margin-top: 5px;
}
.rotatedSecondSlot{
    transform: translateY(19px) translateX(24px) rotate(90deg);
    margin-bottom: 5px;
}

.deletedSlot{
    border: thin dashed black;
    background: transparent;
}
.rotated {
    rotate: 90deg;
}
.rotatedBackwards {
    rotate: -90deg;
}
.line{
    display: flex;
}
.deleteButton {
    position: relative;
    top: 50px;
    right: 5px;
    width: 15px;
    height: 20px;
    border: transparent;
    background-color: transparent;
}
.rotationButton {
    position: relative;
    left: 10px;
    width: 15px;
    height: 15px;
    border: transparent;
    background-color: transparent;
}
.deleteIcon {
    position: relative;
    right: 5px;
    width: 15px;
    height: 20px;
}
.deleteIcon:hover {
    fill: red;
}
.rotationIcon {
    position: relative;
    right: 6px;
    bottom: 1px;
    width: 15px;
    height: 15px;
}
.rotationIcon:hover {
    fill: blue;
}
.plusIcon {
    position: relative;
    bottom: 1px;
    right: 6px;
    fill: gray;
    width: 20px;
    height: 20px;
}
.plusIcon:hover {
    fill: black;
}
.plusButton {
    position: relative;
    top: 25px;
    left: 7px;
    width: 20px;
    height: 20px;
    border: transparent;
    background-color: transparent;
}
.label {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.inputZone {
    position: relative;
    left: 150px;
    top: 5vh;
}
.input {
    border-radius: 5px;
    margin-right: 20px;
    border: 3px solid black;
    margin-bottom: 20px;
}
.autocreatedButton {
    left: 9px;
}
.autocreatedSlot {
    right: 48px;
}
.nextButton {
    position: relative;
    left: 100px;
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    background-color: #2d55ff;
    color: white;
    border: thin solid black;
}
.nextButton:hover {
    cursor: pointer;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24),0 0 rgba(0,0,0,0.19);
}
.transparentSlot {
    background: transparent;
    border: transparent;
}
.emptySlot {
    background: green;
}
.occupiedSlot {
    background: red;
}
.reservedSlot {
    background: #2d55ff;
}
.pointerCursor:hover {
    cursor: pointer;
}