.title {
    position: relative;
    left: 15vh;
    top: 5vh;
    font-size: 24px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    margin-bottom: 30px;
    width: 80%;
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: ghostwhite;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}

.rotatedModal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.rotatedModalContent {
    background-color: ghostwhite;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}

.close {
    display: block;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    border: transparent;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.editIcon {
    position: relative;
    width: 15px;
    height: 20px;
}
.editIcon:hover {
    fill: #254d32;
}
.editButton {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: transparent;
    background-color: transparent;
    align-items: center;
}
.editButton:hover {
    cursor: pointer;
    background-color: beige;
}
.label {
    position: relative;
    left: 5px;
    top: 40px;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.spotNumber {
    width: 50px;
    height: 20px;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    text-align: center;
}
.sensorLabel {
    position: relative;
    left: 5px;
    top: -15px;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.deviceName {
    position: relative;
    top: 50px;
    left: 5px;
    width: 200px;
    height: 80px;
    font-size: 14px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.saveButton {
    position: relative;
    bottom: -55px;
    left: 330px;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    color: white;
    background-color: #2d55ff;
    border-radius: 10px;
    border: 2px solid transparent;
}
.saveButton:hover {
    cursor: pointer;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24),0 0 rgba(0,0,0,0.19);
}
.configuredSlot {
    background-color: lightskyblue;
}
.nextButton {
    position: relative;
    top: 7vh;
    left: 150px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    background-color: #2d55ff;
    color: white;
    border: thin solid black;
}
.nextButton:hover {
    cursor: pointer;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24),0 0 rgba(0,0,0,0.19);
}
.deletedSlot{
    border: transparent;
    background: transparent;
}

.reserveButton {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: transparent;
    background-color: transparent;
    align-items: center;
}
.reserveButton:hover {
    cursor: pointer;
}
.carPlateLabel {
    position: relative;
    left: 20px;
    top: 80px;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.carPlate {
    width: 100px;
    height: 20px;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    text-align: center;
}

.reserveNow {
    position: relative;
    bottom: -55px;
    left: 280px;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    color: white;
    background-color: #2d55ff;
    border-radius: 10px;
    border: 2px solid transparent;
}
.reserveNow:hover {
    cursor: pointer;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24),0 0 rgba(0,0,0,0.19);
}

.modalText {
    position: relative;
    margin: auto;
    width: 300px;
    top: 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    text-align: center;
}


.titleBox {
    position: relative;
    width: 500px;
    height: 150px;
    top: 40px;
    left: 100px;
    align-items: center;
    text-align: center;
}
.parkingTitle {
    position: relative;
    height: auto;
    overflow: hidden;
    font-size: 28px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.parkingAddress {
    position: relative;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    margin-bottom: 30px;
}
.parkingFee {
    position: relative;
    left: 10px;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    margin-bottom: 30px;
}
.descriptionText {
    position: relative;
    left: 80px;
    top: -200px;
    width: 600px;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    margin-bottom: 10px;
}
.grid {
    position: relative;
    top: -200px;
    left: 80px;
    border: 2px dashed black;
    background: darkgray;
}
.backButton {
    position: relative;
    width: 80px;
    height: 35px;
    left: 50px;
    top: 20px;
    background: #2d55ff;
    text-align: center;
    border: transparent;
    color: #f2f2f2;
    margin-bottom: 50px;
}
.backButton:hover {
    box-shadow: 0 0 10px #888888;
}

.mapsButton {
    position: relative;
    top: -200px;
    left: 840px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: auto;
    width: 180px;
    height: 25px;
    text-align: center;
    background: #2d55ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.mapsButton:hover {
    text-decoration: none!important;
    box-shadow: 0 0 10px #888888;
}

.a {
    fill: #ffffff;
}
.b {
    fill:#211715;
}
.c {
    fill:#d9d9d9;
}
.d {
    fill:#3d8dcc;
}
.legend {
    width: 500px;
    height: 40px;
    display: flex;
    background: white;
    border: thin solid black;
}
.legendLabel {
    position: relative;
    top: 10px;
    left: 15px;
    margin-right: 20px;
}
.emptyRectangle {
    position: relative;
    left: 10px;
    top: 10px;
    background: green;
    width: 40px;
    height: 20px;
    border: solid thin black;

}
.occupiedRectangle {
    position: relative;
    left: 10px;
    top: 10px;
    background: red;
    width: 40px;
    height: 20px;
    border: solid thin black;
}
.reservedRectangle {
    position: relative;
    left: 10px;
    top: 10px;
    background: #2d55ff;
    width: 40px;
    height: 20px;
    border: solid thin black;
}
.unknownRectangle {
    position: relative;
    left: 10px;
    top: 10px;
    background: lightgray;
    width: 40px;
    height: 20px;
    border: solid thin black;
}