.two_inputs {
    padding-left: 5vh;
}

.two_inputs input{
    border: 1px solid #ccc;
}


.one_input {
    padding-left: 5vh;
}

.one_input input {
    border: 1px solid #ccc;
    font-family: 'Times New Roman';
}

.div_form {
    background-color: #F3F2F3;
    padding-bottom: 1vh;
    align-items: center;
    justify-content: center;
}
