.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    left: 30px;
}
.table thead tr {
    background-color: #2196F3;
    color: #ffffff;
    text-align: left;
}
.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #2196F3;
}
.editButton {
    position: relative;
    top: 0;
    left: 0;
    width: 15px;
    height: 20px;
    border: transparent;
    background-color: transparent;
    align-items: center;
}
.editButton:hover {
    cursor: pointer;
}

.titleBox {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    left: 230px;
    width: 400px;
    margin-bottom: 30px;
}
